@namespace Trifoia.Module.InkPlayer
@inherits ModuleBase
@* Required *@
<MudThemeProvider IsDarkMode=true />
<MudPopoverProvider />

@* Needed for dialogs 
<MudDialogProvider />*@

@* Needed for snackbars 
<MudSnackbarProvider />*@

@if (PageState.EditMode)
{
    <MudPaper Style="position:relative;" class="m-2">
        <MudText Color="Color.Primary" Typo="Typo.h6">Ink Module</MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@MudBlazor.Icons.Material.Filled.Settings" Href="@settingsUrl">Settings</MudButton>
    </MudPaper>
}
else if (loading)
{
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" />
    <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" />
    <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" />
    <MudSkeleton SkeletonType="SkeletonType.Text" Animation="Animation.Wave" />
}
else
{
    <div class="ink-container">
        <div class="prompt-card">
            <MudText Class="prompt-text" data-center-text="@_settingsVM.CenterJustify.ToString()" Typo="@_settingsVM.InkTypo">@_currentLine</MudText>
        </div>

        @if (_currentChoices.Any())
        {
            <MudStack Row="true" AlignItems="AlignItems.Stretch" Justify="Justify.Center" Class="p-3" Wrap="Wrap.Wrap">
                @if (_hasPrevious)
                {
                    <MudButton Size="Size.Large" Color="Color.Secondary" Variant="Variant.Filled" OnClick="Previous">Previous</MudButton>
                }
                @foreach (var choice in _currentChoices)
                {
                    <InkChoice Choice="choice" OnSelected="ChoiceSelected" />
                }
            </MudStack>
        }
        else if (_hasPrevious || _hasNext || _hasFinish)
        {
            <MudStack Row="true" AlignItems="AlignItems.Stretch" Justify="Justify.Center" Class="p-3" Wrap="Wrap.Wrap">
                @if (_hasPrevious)
                {
                    <MudButton Size="Size.Large" Color="Color.Secondary" Variant="Variant.Filled" OnClick="Previous">Previous</MudButton>
                }
                @if (_hasNext)
                {
                    <MudButton Size="Size.Large" Color="Color.Primary" Variant="Variant.Filled" OnClick="@(() => Next())">@_settingsVM.ContinueText</MudButton>
                }

            </MudStack>
        }
    </div>
}
